header{
background-image: url("./assets/images/baniere-star.jpg");
}


.barre{
    display: flex;
    justify-content: space-around;
    background-color:aquamarine;
}

.barre li{
    list-style-type: none ; 
  }

.bandeau{
    display: flex;
    align-items: center;
}
#logo
{
    height:150px ;
}

footer{
display: flex;
justify-content: space-around;
}
.imagesFooter
{
width: 30%;
}
.logonasa{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}
#logonasa{
    width: 80%;
}

main{
}
#imagelogotexte{
    display: flex;
}
#solaire
{
    width:100%
}