header{
text-align: center;
font-size: medium;
width: 100%;
}
body
{
    margin: 0;
    padding: 0;
}
p{
    border-style: none;
    background-color: aqua;
    text-align: center;
    padding: 20px;
    font-weight:bold
}

#class{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#container li{
    display: inline;
    margin: 50px;
    list-style-type: none;
    text-align: center;
    font-weight:bold
   
}

#container {
    display: flex;
    justify-content: center;
}

 
.dessert{
    display: flex;
    justify-content: space-around;

}

p{
    font-family : 'Dancing Script', cursive ;
    font-family : 'Satisfy', cursive ;
}
@media  screen and (max-width:700px) {
     
.dessert{
    display: flex;
    flex-direction: column;

}
    img
    {
        width: 100%;
    }
}

footer{
    font-weight:bold
}

.bienvenue{
    margin: 200px 0px 200px 0px;
}