#divBarreTitre
{
    background-color: darkmagenta;
    color: white;
    border: 2px solid black;
}

div
{
    border-width: 1px;
    text-align: center;
}

main
{
    border: 3px solid black;
    margin: 0 auto;
    width:50%; 
}


